@using SPA_exams.Models

@model IEnumerable<ExamResult>
@{
    ViewBag.Title = "Exam results";
}

@section Scripts {

}
@section Body {
    <div id="summary" class="section panel panel-primary">
        @Html.Partial("Summary", Model)
    </div>
    <div id="editor" class="section panel panel-primary">
        @Html.Partial("AddExam", new ExamResult())
    </div>
}